local.properties

*.iml
.idea/
.gradle/
build/
captures/

.DS_Store
.settings/
*.properties


/.gradle/
/.idea/
/build/
/captures/
/codeStyleSettings.xml

*.iml
*.project
*.classPath

/app/.settings/
/app/build/

/demo/.settings/
/demo/build/

/dongxlpush/.settings/
/dongxlpush/build/

